body
    background-color: #ffffff
    font-family: 'Roboto', sans-serif  
.container__text
    text-align: center
    font-size: 27px
    font-weight: bold
    text-transform: uppercase
    margin-bottom: 33px
    &::after
        content: ''
        background: url('../img/14.png') center no-repeat
        display: block
        height: 6px
.section 
    display: flex
    justify-content: space-around
    flex-wrap: wrap 
    &-block
        display: flex
        align-items: center
        flex-basis: 22%  
        justify-content: center
        border: 1px solid #e5e5e5 
        margin-bottom: 33px 